<% include partials/backbone_templates %>

<script>
  $(function(){
    new Shortly();
  });
</script>
<h1>SUP YOUNG MONEY</h1>
<h2> SHORTEN THAT SHIT </h2>
<h3> Stack Paper </h3>
<script src='/client/app.js'></script>
<script src='/client/link.js'></script>
<script src='/client/links.js'></script>
<script src='/client/linkView.js'></script>
<script src='/client/linksView.js'></script>
<script src='/client/createLinkView.js'></script>
<script src='/client/router.js'></script>
